.App{
  margin:15px;
}
.pageContainer{
  display:flex;
  justify-content:space-evenly;
}

.headerBanner{
  display:flex;
  justify-content: center;
  font-size: 35px; 
}

.announceTheWinner{
  width:90vw;
  height:80vh;
  z-index: 99;
  align-items: center;
  text-align: center;
}

.announce{
  width:100%;
  font-size:100px;
}

.nameOfWinner{
  width:100%;
  font-size:220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: blue;
}

.spinningShimmerIn{
  animation: shimmerIn 3s ease-out;
}

.pulsingName{
  animation: pulsingName 4s ease-in;
}

.fireFlashName{
  animation: fireFlashName 5s ease-out forwards;
}

.oneLapAndPulse{
  animation: oneLapAndPulse 7s cubic-bezier(.1,-.10,.65,1.20) forwards infinite;
}

.crazyJumping{
  animation:crazyJumping 6s linear forwards;
}

.backgroundFloatPast{
  background: linear-gradient(45deg, seagreen,slateblue,red);
  background-size: 1500% 1500%;
  animation: backgroundFloatPast 20s linear alternate infinite;
}

@keyframes backgroundFloatPast{
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}

@keyframes crazyJumping{
  0%{
    transform:rotate(30deg) translateX(-100%);
  }
  24%{
    transform:rotate(30deg) translateX(200%);
    opacity:1;
  }
  25%{
    opacity:0;
  }
  26%{
    opacity:0;
    transform:rotate(30deg) translateX(-100%);
  }
  27%{
    opacity:1;
    transform:rotate(300deg) translateX(-100%);
  }
  48%{
    transform:rotate(120deg) translateX(200%);
  }
}

@keyframes oneLapAndPulse{
  5%{
    transform:translate(-250px,0px);
  }
  10%{
    transform:translate(-250px,-250px);
  }
  20%{
    transform:translate(250px,-250px);
  }
  30%{
    transform:translate(250px,250px);
  }
  40%{
    transform:translate(-250px,250px);
  }
  45%{
    transform:translate(-250px,0px);
  }
  50%,60%{
    transform:translate(0px,0px);
    color:blue;
  }
  61%{
    transform: scale(1.35,1.35);
    color:red;
  }
  62%,66%{
    transform:scale(1,1);
    color:blue;
  }
  67%{
    transform: scale(2.0,2.0);
    color:red;
  }
  68%,72%{
    transform:scale(1,1);
    color:blue;
  }
  73%{
    transform: scale(2.65,2.65);
    color:red;
  }
  74%,81%{
    transform:scale(1,1);
    color:blue;
  }
  82%{
    transform: scale(2.65,2.65);
    color:red;
  }
  83%,87%{
    transform:scale(1,1);
    color:blue;
  }
  88%{
    transform: scale(2.0,2.0);
    color:red;
  }
  89%,93%{
    transform:scale(1,1);
    color:blue;
  }
  94%{
    transform: scale(1.35,1.35);
    color:red;
  }
  95%,99%{
    transform:scale(1,1);
    color:blue;
  }
}

@keyframes fireFlashName{
  50%{
    color: orange;
    filter: brightness(400%);
    filter:hue-rotate(180deg);
    filter: blur(4px);
    transform:scale(1.05,1.05);
  }
  100%{
    transform: scale(1.03,1.03);
  }
}

@keyframes pulsingName{
  0%{
    transform: scale(0,0);
  }
  35%{
    transform: scale(1.2,1.2);
  }
  55%{
    transform: scale(.6,.6);
  }
  70%{
    transform: scale(1.35,1.35);
  }
  80%{
    transform: scale(.75,.75);
  }
  100%{
    transform: scale(1,1);
  }
}
@keyframes shimmerIn{
  0%{
    filter:blur(500px);
    transform:rotateZ(0deg);
  }
  100%{
    filter: blur(0px);
    transform:rotateZ(1440deg)
  }
}

.sassy-announce{
  width:100%;
  font-size:35px;
}

.sassy-nameOfWinner{
  width:100%;
  font-size:70px;
}
.displayFlex{
  display: flex;
  flex-direction: column;
}

.sidebarMenu{
  font-size:20px;
}