.App{
  margin:15px;
}
.pageContainer{
  display:flex;
  justify-content:space-evenly;
}

.headerBanner{
  display:flex;
  justify-content: center;
  font-size: 60px; 
}

.columnsOfNames{
  display:flex;
  flex-direction: column;
  margin:5px;
}

.announceTheWinner{
  width:90vw;
  height:80vh;
  z-index: 99;
  align-items: center;
  text-align: center;
}

.announce{
  width:100%;
  font-size:100px;
}

.nameOfWinner{
  width:100%;
  font-size:220px;
}

.sassy-announce{
  width:100%;
  font-size:70px;
}

.sassy-nameOfWinner{
  width:100%;
  font-size:140px;
}
.displayFlex{
  display: flex;
  flex-direction: column;
}
