.App{
  margin:15px;
}
.pageContainer{
  display:flex;
  justify-content:space-evenly;
}

.headerBanner{
  display:flex;
  justify-content: center;
  font-size: 35px; 
}

.announceTheWinner{
  width:90vw;
  height:80vh;
  z-index: 99;
  align-items: center;
  text-align: center;
}

.announce{
  width:100%;
  font-size:100px;
}

.nameOfWinner{
  width:100%;
  font-size:220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: blue;
}

.spinningShimmerIn{
  animation: shimmerIn 3s ease-out;
}

@keyframes shimmerIn{
  0%{
    filter:blur(500px);
    transform:rotateZ(0deg);
  }
  100%{
    filter: blur(0px);
    transform:rotateZ(1440deg)
  }
}

.sassy-announce{
  width:100%;
  font-size:35px;
}

.sassy-nameOfWinner{
  width:100%;
  font-size:70px;
}
.displayFlex{
  display: flex;
  flex-direction: column;
}

.sidebarMenu{
  font-size:20px;
}